#page-admin-footer {
	width: 100%;
	height: 10rem;
	background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;
	position: absolute;
	bottom: 0;
	text-align: center;
	color: #FFF;
}


footer {
	margin: 2rem;
	padding: 1rem;
}