/*Page Header*/
#page-admin-header {
    margin: 0;
    width: 100%;
    max-height: 10vh;
    padding: 2rem;
    background: #FFF /*linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat*/;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .item {
	height: 100%;
    padding: 1rem;
    color: #29b6d1;
}

.menu .item:focus {
    border-bottom: 2px solid #29b;
}

.active {
    border-bottom: 2px solid #29b;
}

.menu .item:hover {
	opacity: 0.7;
}

.menu .item {
	text-decoration: none;
}
