/*Page Header*/
#page-admin-header {
    margin: 0;
    width: 100%;
    max-height: 10vh;
    padding: 2rem;
    background: #FFF;
    /* background: #00022E; */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .item {
	height: 100%;
    padding: 1rem;
    color: #29b;
}

.menu .item:focus {
    border-bottom: 2px solid #FF073A;
}

.active {
    border-bottom: 2px solid #FF073A;
}

.menu .item:hover {
	opacity: 0.7;
}

.menu .item {
	text-decoration: none;
}
