/*Page Index*/
#page-admin-index {
	width: 100%;
	min-height: 80vh;
	display: flex;
	margin-top: 1rem;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.container h1 {
	color: #0b10a7;
	margin: 1rem auto;
	font-size: 2.4rem;
}
