/*general items*/
/* Page central */
#page-admin {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	max-height: 100vh;

	text-align: center;
	color: initial;
	font-size:1.6rem;

	background: #EBF2F5 /*rgba(0,199,199, 0.2)*/;
}

/* Container geral */
.container {
	width: 100%;
	/* max-height: 80vh; */

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}

.container main {
	margin: auto 2rem;
	border-radius: 2rem;
	padding: 2rem;
	color: #29b;

	width: 80%;
	height: 100%;

	background: #FFF/*linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat*/;
}

.container main h2 {
	font-size: 2.4rem;
	line-height: 3rem;
}

aside {
	background: #FFF/*linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat*/;
	padding: 1rem;
	max-width: 30rem;
	border-radius: 0 2rem 2rem 0;
}

/* Menu vertical geral */
aside .vertical-menu {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.vertical-menu h1 {
	padding: 1rem;
	margin: 1rem;
	color: #29b;
}

.vertical-menu .item {
	font-size: 1.8rem;
	text-decoration: none;
	color: #29b;

	margin: 1rem 1.5rem;
	padding: 1rem 1.5rem;

	width: 100%;
	height: 100%;
}

.vertical-menu .item:focus {
	border-bottom: 2px solid #29b;
}
.vertical-menu .item:active {
	border-bottom: 2px solid #29b;
}

.vertical-menu .item:hover {
	background: rgba(255,255,255, 0.5);
	border-bottom: 2px solid #29b;
}

table {
	margin: 1rem auto;
	padding: 1rem;
	font-size: 1.8rem;

	width: 100%;
}

table thead tr, table tbody tr {
	width: 100%;
	height: 4.4rem;

	padding: 1rem;
	margin: 0 auto;
	

	display: grid;
	column-gap: 1.6rem;
	grid-template-columns: repeat(5, 1fr);
}

table thead tr {
	border-bottom: 2px solid #29b;
}

table tbody tr {
	border-bottom: 2px solid #29b;
}

table tbody tr td a:first-child {
	color: green;
}

table tbody tr td a:last-child {
	color: red;
}

/* table tbody tr td a {
	text-decoration: none;
	width: 100%;
	height: 100%;
	margin: 0.3rem;
	background: #FFF;
	padding: 0.7rem;
	border-radius: 2rem;
} */

/* table tbody tr td:first-child {
	text-align: left;
}

table tbody tr td a:first-child {
	color: green;
	border: 2px solid green;
}

table tbody tr td a:first-child:hover {
	background: green;
	color: #FFF;
}

table tbody tr td a:last-child {
	border: 2px solid red;
	color: red;
}

table tbody tr td a:last-child:hover {
	background: red;
	color: #FFF;
} */

nav {
	width: 100%;
	margin: 2rem auto;

	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

nav ul li {
	display: flex;
	justify-content: end;
}

nav ul li a {
	text-decoration: none;
	background-color: #FFF;
	padding: 1rem;
	color: #29b;
	
	border: 2px solid #29b;
	border-radius: 10rem;
}

nav ul li a:hover {
	background-color: #29b;
	color: #FFF;
}

nav ul li a:focus {
	opacity: 0.5;
}
