/*general items*/
/* Page central */
#page-admin {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;

	text-align: center;
	color: initial;
	font-size:1.6rem;
}

/* Container geral */
.container {
	margin: 5rem auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.container main {
	margin: 0 auto;
	border-radius: 2rem;
	padding: 2rem;
	color: #FFF;
	margin-right: 6rem;

	background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;
}

.container main h2 {
	font-size: 2.4rem;
	line-height: 3rem;

	border-bottom: 2px solid #FFF;
}


/* Menu vertical geral */
.vertical-menu {
	position: absolute;
	left: 0;
	top: 11rem;
	background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;
	width: 20%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	border-radius: 0 2rem 2rem 0;
}

.vertical-menu .item {
	font-size: 1.8rem;
	text-decoration: none;
	color: white;

	margin: 1rem 1.5rem;
	padding: 1rem 1.5rem;

	width: 100%;
	height: 100%;
}

.vertical-menu .item:focus {
	border-bottom: 2px solid #FFF;
}

.vertical-menu .item:hover {
	background: rgba(255,255,255, 0.5);
	border-bottom: 2px solid #FFF;
}

table {
	margin: 0 auto;
	padding: 1rem;
}

table thead {
	width: 100%;
	border-bottom: 2px solid #DA552f;
}

table thead tr {
	border: 0;
	font-size: 2.4rem;
	height: 2.4rem;
}

table thead tr th {
	padding: 1rem;
}

table tbody tr {
	border: 0;
	height: 2.4rem;
	margin: 2rem;
}

table tbody tr td {
	padding: 1rem;
	font-size: 1.8rem;
}

table tbody tr td a {
	text-decoration: none;
	width: 100%;
	height: 1.5rem;
	margin: 0.3rem;
	background: #FFF;
	padding: 0.7rem;
	border: 2px solid #DA552f;
	border-radius: 2rem;
	text-align: center;
	color: #DA552f;
}

table tbody tr td a:hover {
	background: #DA552f;
	color: #FFF;
}