#page-register {
	min-height: 100vh;
	width: 85rem;
	background: #FFF;
	display: flex;
	margin: 6.4rem auto;
}

#page-register .container {
	width: min(90%, 112rem);	
	text-align: center;
}

#title-register {
	font-size: 2.4rem;
	color: rgb(80,80,80);
	height: 4.2rem;
	margin: 1rem;
	padding: 1.5rem
}

form {
	margin: 1rem;
	text-align: left;
	outline: none;
}

fieldset {
	border: 0;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	outline: 0;
}

fieldset legend {
	border-bottom: 2px solid gray;
	text-align: left;
	color: rgb(100,100,100);
	width: 100%;
	padding-left: 1.5rem;
	padding-bottom: 0.6rem;
	font-size: 2.4rem;
}

fieldset .field {
	width: 100%;

	display: flex;
	flex-direction: column;
}

fieldset .field label {
	color: #384279;
	font-size: 1.6rem;
	width: 100%;
	height: 4.2rem;
	padding-top: 1.5rem;
	padding-left: 2rem;
}

fieldset .field input {
	height: 4.2rem;
	width: 100%;
	padding-left: 2rem;
	border: 1px solid #006;
	border-radius: 2rem;

	outline: none;
}

form fieldset .field input:focus {
	border: 2px solid #DA552F;
}

fieldset .field + legend {
	margin-top: 1rem;
}

form .field {
	width: 100%;
}

.field-two {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 1rem;
	margin-left: -4rem;
}

.field-two label {
	color: #384279;
	font-size: 1.6rem;
	height: 4.2rem;
	padding-top: 1.5rem;
	padding-left: 2rem;

}

.field-two input {
	height: 4.2rem;
	width: 100%;
	padding-left: 2rem;
	border: 1px solid #006;
	border-radius: 2rem;

	outline: none;
}

.container form .buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 0 auto;
	padding: 0;
}

.container form .buttons button {
	height: 4.2rem;
	border: 2px solid #384279;
	border-radius: 2rem;
	background: #FFF;
	width: 20rem;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	color: #384279;

	cursor: pointer;
	outline: none;

	display: flex;
	justify-content: center;
	align-items: center;
}