<div id="page-admin-cashFlow">

    <div class="container">
        <aside>
            <div class="vertical-menu">
                <a href="" class="item"></a>
            </div>
        </aside>
        <main>
            <section>
                <h2>Fluxo de Caixa</h2>

                <table>
                    <thead>
                        <tr>
                            <th>Janeiro</th>
                            <th>Fevereiro</th>
                            <th>Março</th>
                            <th>Abril</th>
                            <th>Maio</th>
                            <th>Junho</th>
                            <th>Julho</th>
                            <th>Agosto</th>
                            <th>Setembro</th>
                            <th>Outubro</th>
                            <th>Novembro</th>
                            <th>Dezembro</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </section>
        </main>
    </div>

</div>