<div id="page-admin-index">

	<h1>Seja Bem Vindo(a) {$user.txlogin}!</h1>
	
	<div class="container">
		
		<aside>
			<header class="vertical-menu">
				<a href="#" class="item">Inicio</a>
				<a href="#" class="item">Relatórios</a>
				<a href="#" class="item">Gráficos</a>
				<a href="#" class="item">Analises</a>
				<a href="#" class="item">Quadros</a>
				<a href="#" class="item">Agendas</a>
			</header>
		</aside>


		<main>

			<section>
				
				<h2>Seção para informações</h2>

			</section>

		</main>

	</div>

</div>