<title>Sisweb - Solicitações</title>
  		<div class="ui horizontal divider">Menu</div>
  		<div class="ui buttons">
	      	<a class="ui green button" href="/admin/requests/create">
	        	<i class="user plus icon"></i>Nova Solcitação
	      	</a>
	      	<a class="ui green button" href="/admin/requests">
	        	<i class="users icon"></i>Listar Solcitação
	      	</a>
	      	<a class="ui green button" href="/admin/requests/consult">
	        	<i class="id card icon"></i>Consultar Solcitação
	      	</a>
	      	<a class="ui green button" href="/admin/requests/edit">
	        	<i class="edit icon"></i>Editar Solcitação
	      	</a>
	      	<a class="ui red button" href="/admin/requests/delete">
	        	<i class="user times icon"></i>Excluir Solcitação
	      	</a>
	    </div>
	    <br/>
	    <br/>
	    <div class="ui horizontal divider">Solicitações</div>
	    <table class='ui very basic table'>
	        <thead align='center'>
		        <tr>
		        	<th>Codigo</th>
		            <th>Cliente</th>
		            <th>Implemento</th>
		            <th>Problema</th>
		            <th>Status</th> 
		            <th>Opções</th>
		        </tr>
	        </thead>
	        <tbody align='center'>
	            <!--{loop="$requests"}-->
	            	<tr>
	            		<td><!--{$value.idrequest}--></td>
	            		<td><!--{$value.idcustomer}--></td>
	            		<td><!--{$value.txnameimplement}--></td>
	            		<td><!--{$value.txproblem}--></td>
	            		<td><!--{$value.txnamestatus}--></td>
	            		<td>
			                <a href="/admin/users/{$value.idrequest}" class="circular ui green icon button">
			                  <i class="edit icon"></i>
			                </a>
			                <a href="/admin/users/{$value.idrequest}/delete" onclick="return confirm('Deseja realmente excluir?')" class="circular ui red icon button">
			                  <i class="delete icon"></i>
			                </a>
	              		</td>
	            	</tr>
	            <!--{/loop}-->
	        </tbody>        
	    </table>