<title>Sisweb - Solicitações</title>
<div class="ui segments" id="component" align="center">  
  	<div class="ui segment">
  		<div class="ui horizontal divider">Menu</div>
  		<div class="ui buttons">
	      	<a class="ui green button" href="/admin/requests">
	        	<i class="user plus icon"></i>Nova Solcitação
	      	</a>
	      	<a class="ui green button" href="/admin/requests">
	        	<i class="users icon"></i>Listar Solcitação
	      	</a>
	      	<a class="ui green button" href="/admin/requests">
	        	<i class="id card icon"></i>Consultar Solcitação
	      	</a>
	      	<a class="ui green button" href="/admin/requests">
	        	<i class="edit icon"></i>Editar Solcitação
	      	</a>
	      	<a class="ui red button" href="/admin/requests">
	        	<i class="user times icon"></i>Excluir Solcitação
	      	</a>
	    </div>
	    <br/>
	    <br/>
	    <div class="ui horizontal divider">Solicitações</div>
	    
	</div>
</div>