<div id="page-admin-services">
	
	<div class="container">
		<aside>
			<header class="vertical-menu">
				<a href="/admin/services" class="item active">Serviços</a>
				<a href="/admin/services/create" class="item">Novo</a>
				<a href="#" class="item">Gráficos</a>
				<a href="#" class="item">Analises</a>
				<a href="#" class="item">Quadros</a>
				<a href="#" class="item">Agendas</a>
			</header>
		</aside>
	
		<main>
			<h2>Serviços</h2>
			<table>
				<thead align="center">
					<tr>
						<!-- <th>Codigo</th> -->
						<th>Serviço</th>
						<th>Descrição</th>
						<th>Preço</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody align="center">
					{loop="$services"}
					<tr>
						<!-- <td>{$value.idservice}</td> -->
						<td>{$value.txnameservice}</td>
						<td>{$value.txdescriptionservice}</td>
						<td>R${function="formPrice($value.vlpriceservice)"}</td>
						<td>
							<a href="/admin/services/update/{$value.idservice}">Atualizar</a>
				              <a href="/admin/services/delete/{$value.idservice}" onclick="return confirm('Deseja realmente excluir?')">
				                Excluir
				              </a>
						</td>
					</tr>
					{/loop}
				</tbody>
			</table>
		</main>
	</div>
</div>