<div id="page-admin-services">
	
	<div class="container-services">
		<aside>
			<header class="vertical-menu">
				<a href="/admin/services" class="item">Serviços</a>
				<a href="/admin/services/create" class="item">Novo</a>
				<a href="#" class="item">Gráficos</a>
				<a href="#" class="item">Analises</a>
				<a href="#" class="item">Quadros</a>
				<a href="#" class="item">Agendas</a>
			</header>
		</aside>
	</div>
	<div class="field" id="margins">
		<div class="ui horizontal divider">Serviços</div>
		<table class="ui very basic table">
			<thead align="center">
				<tr>
					<th>Codigo</th>
					<th>Serviço</th>
					<th>Descrição</th>
					<th>Preço</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody align="center">
				{loop="$services"}
				<tr>
					<td>{$value.servicepk}</td>
					<td>{$value.txnameservice}</td>
					<td>{$value.txdescriptionservice}</td>
					<td>R${function="formPrice($value.vlprice)"}</td>
					<td>
						<a href="/admin/services/update/{$value.servicepk}" class="circular ui green icon button">
			                <i class="edit icon"></i>
			              </a>
			              <a href="/admin/services/delete/{$value.servicepk}" onclick="return confirm('Deseja realmente excluir?')" class="circular ui red icon button">
			                <i class="delete icon"></i>
			              </a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</div>