<div class="ui segment">
	<div class="field">
		<div class="ui horizontal divider">Menu</div>
		<div class="ui buttons">
			<a class="ui green button" href="/admin/services/create">
				<i class="plus icon"></i>Novo Serviço
			</a>
			<a class="ui green button" href="">
				<i class="list icon"></i>Serviços
			</a>
		</div>
		
	</div>
	<div class="field" id="margins">
		<div class="ui horizontal divider">Serviços</div>
		<table class="ui very basic table">
			<thead align="center">
				<tr>
					<th>Codigo</th>
					<th>Serviço</th>
					<th>Descrição</th>
					<th>Preço</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody align="center">
				{loop="$services"}
				<tr>
					<td>{$value.pkservice}</td>
					<td>{$value.txnameservice}</td>
					<td>{$value.txdescriptionservice}</td>
					<td>R${function="formPrice($value.vlprice)"}</td>
					<td>
						<a href="/admin/services/update/{$value.pkservice}" class="circular ui green icon button">
			                <i class="edit icon"></i>
			              </a>
			              <a href="/admin/services/delete/{$value.pkservice}" onclick="return confirm('Deseja realmente excluir?')" class="circular ui red icon button">
			                <i class="delete icon"></i>
			              </a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</div><br>