<title>Sisweb - Clientes</title>
<div class="ui segment">
	<div class="field">
		<div class="ui horizontal divider">Menu</div>
		<div class="ui buttons">
			<a class="ui green button" href="/admin/users/customers/create">
				<i class="plus icon"></i>Novo Cliente
			</a>
			<a class="ui green button" href="/admin/users/customers">
				<i class="list icon"></i>Clientes
			</a>
			<a class="ui green button" href="/admin/users/customers/consult">
				<i class="info icon"></i>Consultar Cliente
			</a>
		</div>
	</div>
	<div class="field" id="margins">
		<div class="ui horizontal divider">Clientes</div>
		<table class="ui very basic table">
			<thead align="center">
				<tr>
					<th>Codigo</th>
					<th>Login</th>
					<th>Status</th>
					<th>Tipo Usuário</th>
					<th>Registro</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody align="center">
				{loop="$userscustomers"}
		            <tr>
		              <td>{$value.pkuser}</td>
		              <td>{$value.txlogin}</td>
		              <td>{$value.txnamestatus}</td>
		              <td>{$value.txnameusertype}</td>
		              <td>{function="formatDate($value.dtregisteruser)"}</td>
		              <td>
		                <a href="/admin/users/{$value.pkuser}" class="circular ui green icon button">
		                  <i class="edit icon"></i>
		                </a>
		                <a href="/admin/users/{$value.pkuser}/delete" onclick="return confirm('Deseja realmente excluir?')" class="circular ui red icon button">
		                  <i class="delete icon"></i>
		                </a>
		              </td>
		            </tr>
		        {/loop}
			</tbody>
		</table>
	</div>
</div>