<title>Sisweb - Usuários</title>
  
  <div class="ui horizontal divider">Menu</div>
        <div class="ui buttons">
          <a class="ui green button" href="/admin/users/create">
            <i class="user plus icon"></i>Novo Usuário
          </a>
          <a class="ui green button" href="/admin/users">
            <i class="users icon"></i>Listar Usuários
          </a>
          <a class="ui green button" href="/admin/users/consult">
            <i class="id card icon"></i>Consultar Usuário
          </a>
          <a class="ui green button" href="/admin/users/edit">
            <i class="edit icon"></i>Editar Usuário
          </a>
          <a class="ui red button" href="/admin/users/delete">
            <i class="user times icon"></i>Excluir Usuário
          </a>
        </div><br/><br/>

    <div class='ui horizontal divider'>Usuários</div><br/>
    <table class='ui very basic table'>
      <thead align='center'>
        <tr>
          <th>Codigo</th>
          <th>Login</th>
          <th>Status</th>
          <th>Tipo Usuário</th>
          <th>Data de Cadastro</th> 
          <th>Opções</th>
        </tr>
      </thead>
      <tbody align='center'>
          {loop="$users"}
          <tr>
            <td>{$value.iduser}</td>
            <td>{$value.txlogin}</td>
            <td>{$value.txnamestatus}</td>
            <td>{$value.txnameusertype}</td>
            <td>{$value.dtregisteruser}</td>
            <td>
              <a href="/admin/users/{$value.iduser}" class="circular ui green icon button">
                <i class="edit icon"></i>
              </a>
              <a href="/admin/users/{$value.iduser}/delete" onclick="return confirm('Deseja realmente excluir?')" class="circular ui red icon button">
                <i class="delete icon"></i>
              </a>
            </td>
          </tr>
          {/loop}
      </tbody>        
    </table>