<div id="page-admin-users-update">
	<div class="container">
		<aside>
			<header class="vertical-menu">
				<a href="/admin/users" class="item">Usuários</a>
				<a href="/admin/users/create" class="item">Novo Usuário</a>
				<a href="#" class="item">Permissões</a>
				<a href="#" class="item">Analises</a>
				<a href="#" class="item">Relatórios</a>
				<a href="#" class="item">Agendas</a>
			</header>
		</aside>
		<main>
			<section>
				<h2>Alterar Usuário</h2>
				<form action="/admin/users/{$user.id}" method="POST">
						<fieldset align="left">
							<label>Usuário:</label>
							<input type="text" name="txlogin" value="{$user.txlogin}">
	
							<label>Status:</label>
							<select name='fkstatus'>
								<option >Selecione o status</option>
								{loop="$status"}
									<option class="item" value="{$value.id}" 
									{if="$user.fkstatus == $value.id"}selected{/if}>{$value.txname}</option>
								{/loop}
							</select>
	
							<label>Tipo de Usuario: </label>
							<select class="ui selection" name="fkusertype">
								<option value='0' selected="0">Selecione o tipo de usuário</option>
								{loop="$userstypes"}
								<option value="{$value.id}" {if="$user.fkusertype == $value.id"}selected{/if}>{$value.txname}</option>
								{/loop}
							</select>
						<div class="buttons">
							<button class="ui green button" type="submit"><i class="save icon"></i>Alterar</button>
							<a class="ui red button" href="/admin/users/create"> <i class="delete icon"></i>Cancelar</a>
						</div>
					</fieldset>
				</form>
			</section>
		</main>
	</div>
</div>