<div id="page-admin-users">
  <div class="container">
    <aside>
      <header class="vertical-menu">
        <a href="/admin/users" class="item">Usuários</a>
        <a href="/admin/users/create" class="item">Novo Usuário</a>
        <a href="#" class="item">Permissões</a>
        <a href="#" class="item">Analises</a>
        <a href="#" class="item">Relatórios</a>
        <a href="#" class="item">Agendas</a>
      </header>
    </aside>

    <main>
      <h2>Usuários</h2>
      <table>
        <thead>
          <tr>
            <th>Login</th>
            <th>Status</th>
            <th>Tipo Usuário</th>
            <th>Data de Cadastro</th> 
            <th>Opções</th>
          </tr>
        </thead>
        <tbody align='center'>
            {loop="$data"}
            <tr>
              <td>{$value.txlogin}</td>
              <td>{$value.txnamestatus}</td>
              <td>{$value.txnameusertype}</td>
              <td>{function="formatDate($value.createdat)"}</td>
              <td>
                <a href="/admin/users/{$value.id}">
                  <span class="material-icons">cached</span>
                </a>
                <a href="/admin/users/{$value.id}/delete" 
                  onclick="return confirm('Deseja realmente excluir?')">
                  <span class="material-icons">delete</span>
                </a>
              </td>
            </tr>
            {/loop}
        </tbody>        
      </table>

      <nav>
        <ul>
          {loop="$pages"}
          <li><a href="{$value.link}">{$value.page}</a></li>
          {/loop}
        </ul>
      </nav>

    </main>
  </div>
</div>