<title>Sisweb - Usuários</title>
<div id="page-admin-users">
  <div class="container">
    <div class="container-users">
      <aside>
        <header class="vertical-menu">
          <a href="#" class="item">Inicio</a>
          <a href="#" class="item">Relatórios</a>
          <a href="#" class="item">Gráficos</a>
          <a href="#" class="item">Analises</a>
          <a href="#" class="item">Quadros</a>
          <a href="#" class="item">Agendas</a>
        </header>
      </aside>
    </div>

    <h1>Usuários</h1>

    <div class="page-users">
      <table>
        <thead align='center'>
          <tr>
            <th>Codigo</th>
            <th>Login</th>
            <th>Status</th>
            <th>Tipo Usuário</th>
            <th>Data de Cadastro</th> 
            <th>Opções</th>
          </tr>
        </thead>
        <tbody align='center'>
            {loop="$users"}
            <tr>
              <td>{$value.iduser}</td>
              <td>{$value.txlogin}</td>
              <td>{$value.txnamestatus}</td>
              <td>{$value.txnameusertype}</td>
              <td>{function="formatDate($value.dtregisteruser)"}</td>
              <td>
                <a href="/admin/users/{$value.iduser}">Editar</a>
                <a href="/admin/users/{$value.iduser}/delete" 
                  onclick="return confirm('Deseja realmente excluir?')">
                Excluir</a>
              </td>
            </tr>
            {/loop}
        </tbody>        
      </table>
    </div>
  </div>
</div>