<title>Sisweb - Usuários</title>
<div class="ui segments" id="component" align="center">  
  	<div class="ui segment">
	    <div class="ui horizontal divider">Menu</div>
	    <div class="ui buttons">
	      <a class="ui green button" href="/admin/users/create">
	        <i class="user plus icon"></i>Novo Usuário
	      </a>
	      <a class="ui green button" href="/admin/users">
	        <i class="users icon"></i>Listar Usuários
	      </a>
	      <a class="ui green button" href="/admin/users/consult">
	        <i class="id card icon"></i>Consultar Usuário
	      </a>
	      <a class="ui green button" href="/admin/">
	        <i class="edit icon"></i>Editar Usuário
	      </a>
	      <a class="ui red button" href="/admin/">
	        <i class="user times icon"></i>Excluir Usuário
	      </a>
	    </div><br/><br/>


	    <div class="ui horizontal divider">Alterar Usuário</div>
		<form class="ui form" action="/admin/users/{$user.iduser}" method="POST">
			<div class="ui container">
				<div class="field" align="left">
				    <label>Usuário:</label>
				    <input type="text" name="txlogin" value="{$user.txlogin}"><br><br>

	                <label>Status:</label>
	                <select class="uis selection" name='txstatususer'>
	                	<option class="item">Selecione o status</option>
	                	{loop="$status"}
	                		<option class="item" value="{$value.idstatus}" 
	                		{if="$user.statususer == $value.idstatus"}selected{/if}>{$value.txnamestatus}</option>
	                	{/loop}
	                </select></br>

	                <label>Tipo de Usuario: </label>
	                <select class="ui selection" name="usertype">
	                    <option value='0' selected="0">Selecione o tipo de usuário</option>
	                    {loop="$userstypes"}
	                    <option value="{$value.idusertype}" {if="$user.usertype == $value.idusertype"}selected{/if}>{$value.txnameusertype}</option>
	                    {/loop}
	                </select></br>
				</div>
				<div class="ui buttons">
					<button class="ui green button" type="submit"><i class="save icon"></i>Alterar</button>
					<a class="ui red button" href="/admin/users/create"> <i class="delete icon"></i>Cancelar</a>
				</div>
			</div>
		</form>
	</div>
</div>