<title>Sisweb - Nova Fazenda</title>
<div class="ui segment">
	<div class="field">	
		<div class="ui horizontal divider">Menu</div>
		<div class="ui buttons">
	      	<a class="ui green button" href="/customer/farms/create">
	        	<i class="plus icon"></i>Nova Fazenda
	      	</a>
	      	<a class="ui green button" href="/customer/farms">
	        	<i class="list icon"></i>Listar Fazendas
	      	</a>
	    </div>
	</div>
	<br>
	<div class="field" align="left" id="margin"	>
		<h2 class="ui header dividing" align="center">Nova Fazenda</h2>
		{if="$error != ''"}
			<div class="ui negative message" align="center">
				<div class="header">{$error}</div>
			</div>
		{/if}
		{if="$sucess != ''"}
			<div class="ui sucess message" align="center">
				<div class="header">{$sucess}</div>
			</div>
		{/if}
		<form class="ui form" action="/customer/farms/create" method="POST">

			<div class="field">
				<label>Nome da Fazenda: </label>
				<input type="text" name="txnamefarm" placeholder="Ex: Fazenda São José">
			</div>

			<div class="field">
				<label>Descrição da Fazenda: </label>
				<input type="text" name="txdescriptionfarm" placeholder="Ex: Fazenda de Millho">
			</div>

			<div class="ui horizontal divider">Endereço</div>

			<div class="field">
				<label>Nome endereço: </label>
				<input type="text" name="txnameaddress">
			</div>

			<div class="field">
				<label>Bairro: </label>
				<input type="text" name="txneighborhood">
			</div>

			<div class="field">
				<label>Cidade: </label>
				<select class="ui selection" name="cityfk">
					<option>Selecione</option>
					{loop="$cities"}<option value="{$value.pkcity}">{$value.txnamecity}</option>{/loop}
				</select>
			</div>

			<div class="field">
				<label>Estado: </label>
				<select class="ui selection" name="statefk">
					<option>Selecione</option>
					{loop="$states"}<option value="{$value.pkstate}">{$value.txnamestate}/{$value.txabbreviation}</option>{/loop}
				</select>
			</div>

			<div class="field">
				<label>Complemento: </label>
				<input type="text" name="txcomplement">
			</div>

			<div class="field" align="center">
				<div class="ui buttons">
					<button class="ui green button" type="submit">Salvar</button>
					<a class="ui black button" href="/customer/farms">Cancelar</a>
				</div>
			</div>
		</form>
	</div>
</div>