<title>Sisweb - Novo Implemento</title>
<div class="field" id="margin">
	<div class="field">	
		<div class="ui horizontal divider">Menu</div>
		<div class="ui buttons">
	      	<a class="ui green button" href="/customer/implements/create">
	        	<i class="plus icon"></i>Novo Implemento
	      	</a>
	      	<a class="ui green button" href="/customer/implements">
	        	<i class="list icon"></i>Implementos
	      	</a>
	    </div>
	</div><br>
	<div class="ui field" align="left">

		{if="$error != ''"}
			<div class="ui negative message" align="center">
				<div class="header">{$error}</div>
			</div>
		{/if}

		{if="$sucess != ''"}
			<div class="ui success message" align="center">
				<div class="header">{$sucess}</div>
			</div>
		{/if}

		<form class="ui form" method="POST" action="/customer/implements/create">
			<div class="ui horizontal divider">Novo Implemento</div>

			<div class="field">
				<label class="ui label">Nome Implemento:</label>
				<input type="text" name="txnameimplement">
			</div>

			<div class="field">
				<label class="ui label">Modelo:</label>
				<input type="text" name="txmodelimplement">
			</div>

			<div class="field">
				<label class="ui label">Tipo de Implemento</label>
				<input type="text" name="txtype">
			</div>

			<div class="field">
				<label class="ui label">Ano de Fabricação:</label>
				<input type="text" name="nuanofabricacaoimp">
			</div>

			<div class="field">
				<label class="ui label">Descrição:</label>
				<input type="text" name="txdescricaoimp">
			</div>

			<div class="field" align="center">
				<div class="ui buttons">
					<button class="ui green button">Salvar</button>
					<a class="ui black button" href="/customer/implements">Cancelar</a>
				</div>
			</div><br>
		</form>
	</div>
</div>
</div>