<title>Sisweb</title>
<div class="field"> 
    <div class="ui horizontal divider">Menu</div>
    <div class="ui buttons">
        <a class="ui green button" href="/customer/requests/create">
            <i class="plus icon"></i>Nova Solcitação
        </a>
        <a class="ui green button" href="/customer/requests">
            <i class="list icon"></i>Solicitações
        </a>
    </div>
</div>

{if="$error != ''"}
    <div class="field" id="margin">
        <div></div>
        <div class="ui negative message">
            <div class="header">{$error}</div>
        </div>
    </div>
{/if}

{if="$success != ''"}
    <div class="field" id="margin">
        <div></div>
        <div class="ui success message">
            <div class="header">{$success}</div>
        </div>
    </div>
{/if}

<div class="ui horizontal divider">Nova Solicitação</div>
<div class="field" align="left" style="margin-left: 60px; margin-right: 60px;">
	<form class="ui form" method="POST" action="/customer/requests/update/{$request.idrequest}" accept-charset="utf-8">
		<div class="field">
			<label class="ui black label">Cliente</label>
			<input class="ui label" readonly="true" value="{$request.txcorporatename}">
            <input type="hidden" name="idcustomer" value="{$request.idcustomer}">
		</div>

		<div class="field">
			<label class="ui black label">Implemento:</label>
			<select class="ui selection" name="idimplement">
				<option>Selecione o implemento</option>
                {loop="$implements"}
                    <option value="{$value.idimplement}" {if="$value.idimplement == $request.implementfk"}selected{/if}>{$value.txnameimplement}</option>
                {/loop}
			</select>
		</div>

        <div class="field">
            <label class="ui black label">Fazenda:</label>
            <select class="ui selection" name="idfarm">
                <option>Selecione a fazenda</option>
                {loop="$farms"}
                    <option value="{$value.idfarm}" {if="$value.idfarm == $request.farmfk"}selected{/if}>{$value.txnamefarm}</option>
                {/loop}
            </select>
        </div>

        <input type="hidden" name="statusfk" value="2">

		<div class="field">
    		<label class="ui black label">Problema:</label>
    		<textarea rows="2" required name="txproblem">{$request.txproblem}</textarea>
    	</div>

        <div class="field">
            <label class="ui black label">Situação:</label>
            <textarea rows="2" required name="txsituation">{$request.txsituation}</textarea>
        </div>

        <div class="field" align="center">
            <div class="ui buttons">
                <button class="ui green button" type="submit"><i class="save icon"></i>Alterar</button>
                <a href="/customer/requests" class="ui red button">Cancelar</a>
            </div>
        </div><br>
	</form><br>
</div>